.App {
  font-family: sans-serif;
  text-align: center;
}

.grid-wrapper {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-wrapper button {
  background-color: #dfdfdf;
  color: #000000;
  font-size: 24px;
  list-style-type: none;
  padding: 5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
.main-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 2rem 1rem;
}
